# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# compilaciones
build/
dist/
*.spec

# ejecutables
*.exe

# sistema
.DS_Store
Thumbs.db

# Temporales
temp/
dist/
build/
*.spec
__pycache__/

# Archivos de diseño procesados
*.cdr
*.ai
*.pdf
*.ttf
*.url
*.rar
*.zip
*.7z